.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #28ff6f;
}

table {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: linear-gradient(rgb(83, 71, 255), rgb(255, 255, 255));
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}